/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Fonts
$headings-font-family: "Source Serif 4", serif !default;

// Links
$link-color:            #861F41;
$link-hover-color:      #E5751F;

$sidebar-bg: #E5E1E6;
$sidebar-fg: #000000;
$navbar-link-hover-color:      #ffaa00;

$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2.4;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.3;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

/*-- scss:rules --*/

// Need link highlight color
.navbar-brand {
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-brand-font-size: 1.4rem;
  font-family: serif;
}

.navbar-nav {
  --bs-nav-link-hover-color: #fff;
  font-size: 13pt;
}

.course-details {
  margin: 0 0 1em;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.course-details h3 {
  margin-top: 0;
}

.nav-footer-center {
  display: none;
}